<app-bienvenida *ngIf="pantallaActual === 'bienvenida'" (continuar)="cambiarPantalla('dias', $event)"></app-bienvenida>
<app-dias *ngIf="pantallaActual === 'dias'" [nombre]="nombre" (continuar)="guardarDias($event)"></app-dias>
<app-horas *ngIf="pantallaActual === 'horas'" [nombre]="nombre" (continuar)="guardarHoras($event)"></app-horas>
<app-plan *ngIf="pantallaActual === 'plan'" [nombre]="nombre" (continuar)="guardarPlan($event)"></app-plan>
<app-plan-secundario *ngIf="pantallaActual === 'plan-secundario'" [nombre]="nombre" (continuar)="guardarPlanSecundario($event)"></app-plan-secundario>
<app-zona *ngIf="pantallaActual === 'zona'" [nombre]="nombre" (continuar)="guardarZona($event)"></app-zona>
<app-resumen *ngIf="pantallaActual === 'resumen'" [nombre]="nombre" [dias]="diasSeleccionados" [horas]="horasSeleccionadas" [plan]="planSeleccionado" [planSecundario]="planSecundarioSeleccionado" [zona]="zonaSeleccionada"></app-resumen>
